<ion-header>
  <ion-toolbar>
    <ion-title>
      FavMap
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" href="https://leafletjs.com/" rel="leafletjs webpage">
      <ion-card-header>
        <img src="/assets/logo.png" alt="" />
        <ion-card-subtitle>an open-source JavaScript library
          for mobile-friendly interactive maps</ion-card-subtitle>
        <ion-card-title>Bem-vindo ao FavMap</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Nunca mais esqueça seus lugares favoritos! Salve os lugares que você ja visitou, ou os 
          lugares que tem o desejo de visitar.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Funcionalidades</ion-label>
      </ion-list-header>
      <ion-item routerLink="/tabs/tab3">
        <ion-icon slot="start" color="medium" name="locate"></ion-icon>
        <ion-label>Onde estou?</ion-label>
      </ion-item>
      <ion-item routerLink="/tabs/tab2">
        <ion-icon slot="start" color="medium" name="star"></ion-icon>
        <ion-label>Meus Lugares Favoritos</ion-label>
      </ion-item>
      <ion-item routerLink="/perfil">
        <ion-icon slot="start" color="medium" name="contact"></ion-icon>
        <ion-label>Conta</ion-label>
      </ion-item>
      <ion-item href="https://leafletjs.com/">
        <ion-icon slot="start" color="medium" name="leaf"></ion-icon>
        <ion-label>Site do Leaflet</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
